body {
    margin: 0;
    padding: 0;
    background-color: black;
}

.triangles{
    /* border: 2px solid white; */
    width: 0;
    margin-left: 180em;
}

.container{
    margin: 8em;
}

.one img{
    width: 15em;
    height: 12em;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    position: relative;
    z-index: 1;
}

.two img{
    width: 18em;
    height: 15em;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    transform: rotate(180deg);
    position: relative;
    bottom: 1.5em;
    right: 7.5em;
    z-index: 1;
}

.three img{
    width: 18em;
    height: 15em;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    position: relative;
    right: 11.5em;
    bottom: 1em;
    z-index: 1;
}

.four img{
    width: 15em;
    height: 12em;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    position: relative;
    right: 21em;
    z-index: 1;
}

.five img{
    width: 18em;
    height: 15em;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    transform: rotate(180deg);
    position: relative;
    top: 9.3em;
    right: 28em;
    z-index: 1;
}

.six img{
    width: 18em;
    height: 15em;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    transform: rotate(180deg);
    position: relative;
    bottom: 7em;
    right: 36.5em;
    z-index: 1;
}

.seven img{
    width: 22em;
    height: 19em;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    position: relative;
    right: 48.5em;
    z-index: 1;
}

.borderOne{
    width: 0;
    height: 0;
    border-left: 8em solid transparent;
    border-right: 8em solid transparent;
    border-bottom: 12.8em solid lightblue;
    border-top: none;
    position: relative;
    right: 109.5em;
    bottom: 0.1em;
}

.borderTwo{
    width: 0;
    height: 0;
    border-left: 9.55em solid transparent;
    border-right: 9.55em solid transparent;
    border-bottom: 15.85em solid lightblue;
    transform: rotate(180deg);
    border-top: none;
    position: relative;
    right: 118.05em;
    bottom: 1.37em;
}

.borderThree{
    width: 0;
    height: 0;
    border-left: 8em solid transparent;
    border-right: 8em solid transparent;
    border-bottom: 12.8em solid lightblue;
    border-top: none;
    position: relative;
    right: 131.1em;
    top: 7.35em;
}

.borderFour{
    width: 0;
    height: 0;
    border-left: 9.55em solid transparent;
    border-right: 9.55em solid transparent;
    border-bottom: 15.85em solid lightblue;
    border-top: none;
    position: relative;
    right: 139.13em;
    bottom: 7.38em;
}

.borderFive{
    width: 0;
    height: 0;
    border-left: 9.55em solid transparent;
    border-right: 9.55em solid transparent;
    border-bottom: 15.85em solid lightblue;
    transform: rotate(180deg);
    border-top: none;
    position: relative;
    right: 175.83em;
    top: 9.3em;
}

.borderSix{
    width: 0;
    height: 0;
    border-left: 9.55em solid transparent;
    border-right: 9.55em solid transparent;
    border-bottom: 15.85em solid lightblue;
    border-top: none;
    transform: rotate(180deg);
    position: relative;
    right: 147.25em;
    bottom: 7em;
}

.borderSeven{
    width: 0;
    height: 0;
    border-left: 11.6em solid transparent;
    border-right: 11.6em solid transparent;
    border-bottom: 19.89em solid lightblue;
    border-top: none;
    position: relative;
    right: 179.5em;
    bottom: 0.27em;
}


/* UTILITIES */

.flexRow {
    display: flex;
}

.flexCol {
    display: flex;
    flex-direction: column;
}

.justifyCenter {
    display: flex;
    justify-content: center;
}

.alignCenter {
    display: flex;
    align-items: center;
}